/* Общие настройки */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
  }
  
  /* Стили header */
  header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
  }
  
  header nav ul li {
    margin: 0 10px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  header nav ul li a.active {
    text-decoration: underline;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info #username {
    margin-right: 10px;
  }
  
  /* Стили main */
  main {
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  /* Стили footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
  }
  
  footer a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 5px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  /* Формы */
  form {
    margin: 20px 0;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Галерея */
  .slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
  .slider img {
    max-width: 100%;
    height: auto;
  }
  
  .slider button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .slider button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Словарь */
  #dictionary {
    list-style: none;
    padding: 0;
  }
  
  #dictionary li {
    margin: 10px 0;
    cursor: pointer;
    color: #4CAF50;
  }
  
  #dictionary li:hover {
    text-decoration: underline;
  }
  